<h2>Order Confirmation</h2>

<div class="well">
  <h2>Oder #: 57600<%= order.id%></h2>

  <% @carted_popcorns.each do |carted_popcorn| %>
    <h3><%= carted_popcorn.popcorn.name %> - <%= carted_popcorn.popcorn.price %> X <%= carted_popcorn.quantity %></h3>
  <% end %>

  <h3>Subtotal: <%= </h3>