<div class="row">
  <h1>Popcorn App</h1>
  <% @products.each do |popcorn| %>
    <h2><a href="/products/<% popcorn.id %>"><%= popcorn.name %></a></h2>
      <div class="col-md-4">
        <div class="thumbnail well">
        <h4><%= popcorn.name %></h4>
        <img src="<%= popcorn.image %>" alt="<%= popcorn.name %>">
        <h3><%= popcorn.brand %></h3>
        <h3><%= popcorn.price %></h3>
        <h3><%= popcorn.description %></h3>
        </div>
      </div>

  <% end %>
</div>