<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single row">

        <h1>hello</h1>
        <h2><%= @product.name %></h2>
        <h3><%= @product.price %></h3>
        <h2><%= @product.brand %></h2>

        <div class="col-md-6">
          <h4><%= @product.sale_message %></h4>
          <p class="<%= "red price" if @product.discounted? %>">Price: <%= number_to_currency(@product.price) %></p>
          <p>Tax: <%= number_to_currency(@product.tax) %></p>
          <p>Total: <%= number_to_currency(@product.total) %></p>
          <p>Desription: <%= @product.description %></p>
        </div>
      
        <div class="col-md-6">
          <img src="<%= @product.image %>" alt="<%= @product.name%>">
        </div>
            
        <h4><%= @product.name %></h4>
        <h3><%= @product.image %></h3>
        <h3><%= @product.description %></h3>

        <h5>supplied by <%= @product.supplier.name %></h5>

        <%= link_to "Edit Item", "/products/#{@product.id}/edit", class: "btn btn-warning" %> 
        <%= link_to "Delete", "/products/#{@product.id}", method: :delete, class: "btn btn-danger"%>


        <%= form_tag "/orders", method: :post do %>
          <div>
            Quantity: <input type="text" name="quantity">
          </div>
          <div>
            Product ID: <input type="text" name="product_id">
          </div>
          <input type="submit" value="Buy Now"  class="btn btn-success">

        <% end %>
      </div>
    </div>
  </div>
</section>
