<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single row">
      <h2><%= @popcorn.name %></h2>

      <div class="col-md-6">
        <h4><%= @popcorn.sale_message %></h4>
        <p class="<%= "red price" if @popcorn.discounted? %>">Price: <%= number_to_currency(@popcorn.price) %></p>
        <p>Tax: <%= number_to_currency(@popcorn.tax) %></p>
        <p>Total: <%= number_to_currency(@popcorn.total) %></p>
        <p>Desription: <%= @popcorn.description %></p>
      </div>
    
      <div class="col-md-6">
        <img src="<%= @popcorn.image %>" alt="<%= @popcorn.name%>">
      </div>
          
      <h2><%= @popcorn.brand %></h2>
      <h4><%= @popcorn.title %></h4>
      <h3><%= @popcorn.price %></h3>
      <h3><%= @popcorn.image %></h3>
      <h3><%= @popcorn.description %></h3>

      <h5>supplied by <%= @popcorn.supplier.name %></h5>

      <%= link_to "Edit Recipe", "/recipes/#{ @recipe.id }/edit" %> 
      <%= link_to "Delete", "/recipes/#{ @recipe.id }", method: :delete %>
    </div>
  </div>
</section>
